

#first-head{
 font-family:'Press Start 2P' , cursive;
 color : white;
 text-align: center; 
 background-color: black;  
 padding-top: 300px;
 padding-bottom: 300px;
}

.navbar{
    align-content: center;
    font-family: "kumar one" , cursive;
    color:white;
    font-size: 20px;
    background-color: black;
    padding-left: 25px;
    padding-right:25px;
    text-decoration: none;
}
